<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.edu.mapper.DepartmentMapper">

    <resultMap type="Department" id="DepartmentResult">
        <result property="deptId"    column="dept_id"    />
        <result property="deptCode"    column="dept_code"    />
        <result property="deptName"    column="dept_name"    />
        <result property="phone"    column="phone"    />
        <result property="address"    column="address"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDepartmentVo">
        select dept_id, dept_code, dept_name, phone, address, create_by, create_time, update_by, update_time, remark
        from edu_department
    </sql>

    <select id="selectDepartmentList" parameterType="Department" resultMap="DepartmentResult">
        <include refid="selectDepartmentVo"/>
        <where>
            <if test="deptCode != null  and deptCode != ''"> and dept_code like concat('%', #{deptCode}, '%')</if>
            <if test="deptName != null  and deptName != ''"> and dept_name like concat('%', #{deptName}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
        </where>
    </select>

    <select id="selectDepartmentById" parameterType="Long" resultMap="DepartmentResult">
        <include refid="selectDepartmentVo"/>
        where dept_id = #{deptId}
    </select>

    <insert id="insertDepartment" parameterType="Department" useGeneratedKeys="true" keyProperty="deptId">
        insert into edu_department
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptCode != null and deptCode != ''">dept_code,</if>
            <if test="deptName != null and deptName != ''">dept_name,</if>
            <if test="phone != null">phone,</if>
            <if test="address != null">address,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptCode != null and deptCode != ''">#{deptCode},</if>
            <if test="deptName != null and deptName != ''">#{deptName},</if>
            <if test="phone != null">#{phone},</if>
            <if test="address != null">#{address},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDepartment" parameterType="Department">
        update edu_department
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptCode != null and deptCode != ''">dept_code = #{deptCode},</if>
            <if test="deptName != null and deptName != ''">dept_name = #{deptName},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where dept_id = #{deptId}
    </update>

    <delete id="deleteDepartmentById" parameterType="Long">
        delete from edu_department where dept_id = #{deptId}
    </delete>

    <delete id="deleteDepartmentByIds" parameterType="Long">
        delete from edu_department where dept_id in
        <foreach item="deptId" collection="array" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </delete>
</mapper>