<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.edu.mapper.GlobalSettingMapper">
    
    <resultMap type="GlobalSetting" id="GlobalSettingResult">
        <result property="id"    column="id"    />
        <result property="settingKey"    column="setting_key"    />
        <result property="settingValue"    column="setting_value"    />
        <result property="settingDesc"    column="setting_desc"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectGlobalSettingVo">
        select id, setting_key, setting_value, setting_desc, create_by, create_time, update_by, update_time, remark 
        from edu_global_setting
    </sql>

    <select id="selectGlobalSettingList" parameterType="GlobalSetting" resultMap="GlobalSettingResult">
        <include refid="selectGlobalSettingVo"/>
        <where>  
            <if test="settingKey != null  and settingKey != ''"> and setting_key like concat('%', #{settingKey}, '%')</if>
            <if test="settingValue != null  and settingValue != ''"> and setting_value = #{settingValue}</if>
        </where>
    </select>
    
    <select id="selectGlobalSettingById" parameterType="Long" resultMap="GlobalSettingResult">
        <include refid="selectGlobalSettingVo"/>
        where id = #{id}
    </select>

    <select id="selectGlobalSettingByKey" parameterType="String" resultMap="GlobalSettingResult">
        <include refid="selectGlobalSettingVo"/>
        where setting_key = #{settingKey}
    </select>

    <select id="selectAllGlobalSettings" resultMap="GlobalSettingResult">
        <include refid="selectGlobalSettingVo"/>
    </select>
        
    <insert id="insertGlobalSetting" parameterType="GlobalSetting" useGeneratedKeys="true" keyProperty="id">
        insert into edu_global_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="settingKey != null and settingKey != ''">setting_key,</if>
            <if test="settingValue != null">setting_value,</if>
            <if test="settingDesc != null">setting_desc,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="settingKey != null and settingKey != ''">#{settingKey},</if>
            <if test="settingValue != null">#{settingValue},</if>
            <if test="settingDesc != null">#{settingDesc},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGlobalSetting" parameterType="GlobalSetting">
        update edu_global_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="settingKey != null and settingKey != ''">setting_key = #{settingKey},</if>
            <if test="settingValue != null">setting_value = #{settingValue},</if>
            <if test="settingDesc != null">setting_desc = #{settingDesc},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGlobalSettingById" parameterType="Long">
        delete from edu_global_setting where id = #{id}
    </delete>

    <delete id="deleteGlobalSettingByIds" parameterType="Long">
        delete from edu_global_setting where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
